{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Solicitudes : Eliminar solicitud{% endblock %}
{% block body %}
	<h2><i class="fa fa-industry" aria-hidden="true"></i> Solicitudes de empleo</h2>

	<a href="{{ path('cuatrovientos_artean_jobrequest') }}" class="btn">
		<i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
	</a>

	<h3><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar solicitud de empleo {{ jobRequest.id }}</h3>
 <div id='center'>
		<div>
			{% trans %}Estás seguro{% endtrans %}
			<div class='title'>{{ jobRequest.description }}</div>
			<div><a href="{{ path('cuatrovientos_artean_jobrequest_delete_save',  {'id': jobRequest.id }) }}">Confirmar</a> </div>
			<div><a href="javascript:history.back()">Cancelar</a> </div>
		</div>
</div>
{% endblock %}