{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Blog sample::Index{% endblock %}
{% block body %}
{% trans %}centers{% endtrans %}
<div class="table-responsive">
  <table class="table .table-condensed">
     <div id='centers'>
        {% for center in centers %}
            {% include "CuatrovientosArteanBundle:Center:center.html.twig" %}
        {% endfor %}
    </div>
  </table>
</div>
<div><a href="{{ path('cuatrovientos_artean_center_new') }}">New</a> </div>
{% endblock %}