{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Blog sample::Index{% endblock %}
{% block body %}
{% trans %}hello{% endtrans %}
 <div id='posts'>
        {% for post in posts %}
            {% include "SamplesBlogBundle:Default:post.html.twig" %}
            </div>
        {% endfor %}
</div>
<div><a href="{{ path('samples_blog_new_post') }}">New</a> </div>
{% endblock %}