{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Blog sample::Index{% endblock %}
{% block body %}
{% trans %}hello{% endtrans %}
 <div id='centers'>
        {% for center in centers %}
            {% include "CuatrovientosArteanBundle:Center:center.html.twig" %}
            </div>
        {% endfor %}
</div>
<div><a href="{{ path('cuatrovientos_artean_center_new') }}">New</a> </div>
{% endblock %}