{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Blog sample::Index{% endblock %}
{% block body %}
<h2>{% trans %}centers{% endtrans %} <span class="glyphicon glyphicon-heart"></span></h2>
<div><a href="{{ path('cuatrovientos_artean_center') }}">{% trans %}Reload{% endtrans %}</a> 
    <a href="{{ path('cuatrovientos_artean_center_new') }}">{% trans %}New{% endtrans %}</a> </div>
<div class="table-responsive">
  <table class="table .table-condensed">
     <div id='centers'>
        {% for center in centers %}
            {% include "CuatrovientosArteanBundle:Center:center.html.twig" %}
        {% endfor %}
    </div>
  </table>
</div>

{% endblock %}