
{# src/Samples/BlogBundle/Resources/views/newPost.html.twig #}
{% extends "SamplesBlogBundle:Default:layout.html.twig" %}
{% block title %}Samples blog bundle::new Post{% endblock %}
{% block body %}

Simple
<form method="post" action="{{ path('samples_blog_new_post_save') }}">
    {{ form_widget(form) }}
</form>

{% endblock %}