
{# src/Samples/BlogBundle/Resources/views/newPost.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Samples blog bundle::update center{% endblock %}
{% block body %}

<h3>Update Center: {{ id }}</h3>
<form method="post" action="{{ path('cuatrovientos_artean_center_update_save') }}">

     {{ form_widget(form) }}
    
</form>

{% endblock %}