<div class="table-responsive">
<h2>Experiencia laboral</h2>
  <table class="table-responsive table .table-condensed">
         <tr><th>Id</th><th>Empresa</th><th>Tipp de contrato</th><th>Descripción</th><th>Fecha fin</th><th></th></tr>
        {% for job in applicant.jobs %}
            {% include "CuatrovientosArteanBundle:Applicant/Jobs:job.html.twig" %}
        {% endfor %}
    </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applicantJobModal" data-whatever="searchCompany">
          <i class="fa fa-search" aria-hidden="true"></i> Añadir experiencia laboral
      </button>

      <div id="applicantJobModal" style="display:none";  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          {% include "CuatrovientosArteanBundle:Applicant/Jobs:applicantJobForm.html.twig" %}
      </div>

</div>
