
{# src/Samples/BlogBundle/Resources/views/simple.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layoutStars.html.twig" %}
{% block title %}Artean :: Nueva solicitud salvada{% endblock %}
{% block body %}
Salvando oferta para 
 {{ offer.company }}
 <div>Gracias por completar el formulario. Su oferta será revisada por artean y nos pondremos en contacto con Vds.</div>
 <div><a href="{{ path('cuatrovientos_artean_homepage') }}#empresas">Inicio</a></div>
{% endblock %}