
Hola,<br />
si estás recibiendo este email es porque ha sido solicitado un cambio de contraseña
en tu cuenta de https://artean.cuatrovientos.org
 <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Datos de acceso</th>
    </tr>    
    </thead>
     <tbody>
    <tr>
      <th scope="row">Nombre</th>
      <td>{{ user.fullname }}</td>
    </tr>
    <tr>
      <th scope="row">Login</th>
      <td>{{ user.email }}</td>
    </tr>

     </tbody>
 </table>

    Para resetear tu contraseña, pulsa<a href="https://artean.cuatrovientos.org{{ path('cuatrovientos_artean_reset_password',{'id' : user.validate}) }}"> en este siguiente enlace
{% image '@CuatrovientosArteanBundle/Resources/public/img/empresas.jpg' %}
<img src="{{ asset_url }}"  alt="Empresas" title="Empresas"/>
{% endimage %}
</a>