
Bienvenid@ a la bolsa de empleo
 <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Datos de acceso</th>
    </tr>    
    </thead>
     <tbody>
    <tr>
      <th scope="row">Nombre</th>
      <td>{{ user.fullname }}</td>
    </tr>
    <tr>
      <th scope="row">Login</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td>{{ password }}</td>
    </tr>

     </tbody>
 </table>
    Para acceder, pulsa <a href="https://artean.cuatrovientos.org/" target="_blank">en este enlace</a>
