
{# src/Samples/BlogBundle/Resources/views/simple.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Nuevo candidato{% endblock %}
{% block body %}
Bienvenid@ a la bolsa de empleo
 <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nuev@ candidat@</th>
    </tr>    
    </thead>
     <tbody>
    <tr>
      <th scope="row">Nombre</th>
      <td>{{ user.fullname }}</td>
    </tr>
    <tr>
      <th scope="row">Login</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td>{{ user.password }}</td>
    </tr>

     </tbody>
 </table>
{% endblock %}