{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Datos aspirante{% endblock %}
{% block body %}
<h1>Aspirante</h1>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Aspirante</a></li>
            <li ><a href="#tab2" data-toggle="tab">Estudios</a></li>
            <li ><a href="#tab3" data-toggle="tab">Idiomas</a></li>
            <li ><a href="#tab4" data-toggle="tab">Experiencia</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% include "CuatrovientosArteanBundle:Applicant:applicantForm.html.twig" %}
            </div>
            <div class="tab-pane" id="tab2">
                {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.html.twig" %}
            </div>
            <div class="tab-pane" id="tab3">
                {% include "CuatrovientosArteanBundle:Applicant/Languages:languages.html.twig" %}
            </div>
            <div class="tab-pane" id="tab4"><br/>Fourth tab content</div>
        </div>
    </div>


{% endblock %}