<div class="table-responsive">
        <table class="table .table-condensed">
            <div id='applicants'>
                <tr><th>Id</th><th>Nombre</th><th>Apellidos</th><th>Email</th><th>Móvil</th><th></th></tr>
                {% for applicant in applicants %}
                    {% include "CuatrovientosArteanBundle:Applicant:applicant.html.twig" %}
                {% endfor %}
            </div>
        </table>
</div>