
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layoutStars.html.twig" %}
{% block title %}¡Alta completada!{% endblock %}
{% block body %}

<h2>Alta en artean completada </h2>
<p>¡Bienvenid@ a Artean {{ user.fullname }}!</p>

<p>Accede a <a href="{{ path('cuatrovientos_artean_login') }}" class="btn  btn-info-outline" target="_blank">través de este enlace</a> para completar tu perfil</a></p>
<p>Recibirás un correo con las instrucciones de acceso en {{ applicant.email }}
<p>Si tienes algún problema para acceder ponte en contacto con artean@cuatrovientos.org.</p>
{% endblock %}