
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}SignIn ::new OK{% endblock %}
{% block body %}

<h2>Alta en artean - OK</h2>
<p>Tu email {{ applicant.email }} ya existe en nuestra BD.</p>
<p>Si no puedes acceder a tu perfil ponte en contacto con artean@cuatrovientos.org.</p>
{% endblock %}