
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}SignIn ::new OK{% endblock %}
{% block body %}

<h2>Alta en artean - OK</h2>
    {{ applicant.email }}
{% endblock %}