
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}SignIn ::new OK{% endblock %}
{% block body %}

<h2>Alta en artean</h2>
<div class="row">
    <p>Tu email {{ email }} ya existe en nuestra BD.</p>
    <p>Accede a <a href="https://artean.cuatrovientos.org/?login" class="btn btn-info-outline" target="_blank">través de este enlace</a> para completar tu perfil</a></p>
    <p>Si tienes algún problema para acceder ponte en contacto con artean@cuatrovientos.org.</p>
</div>
           

{% endblock %}