
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}SignIn ::new OK{% endblock %}
{% block body %}

<h2>Alta en artean - OK</h2>
<p>Bienvenid@ a Artean {{ applicant.name }} .</p>
<p>Tu usuario es: {{ user.login }}<p>
<p>Y tu password, que podrás cambiar: {{ password }}<p>
<p>Recibirás un correo con las instrucciones de acceso en {{ applicant.email }}
<p>Si tienes algún problema para acceder ponte en contacto con artean@cuatrovientos.org.</p>
{% endblock %}