 <h3><i class="fa fa-industry" aria-hidden="true"></i> Profesorado del curso </h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTeacherCourseModal" data-whatever="searchCenter">
                <i class="fa fa-search" aria-hidden="true"></i> Nuevo
            </button>
        <div class="modal fade" id="newTeacherCourseModal" tabindex="-1" role="dialog" aria-labelledby="newTeacherCourseModal" aria-hidden="true">
            {% include "CuatrovientosArteanBundle:Course/TeacherCourse:new.html.twig" %}
        </div>
<div class="table-responsive">
  <table class="table .table-condensed">
     <div id='teachercourses'>
         <tr><th>Id</th><th>Profesor</th><th>Email</th><th>Teléfono</th><th></th></tr>
        {% for teacherCourse in course.teachers %}
            {% include "CuatrovientosArteanBundle:Course/TeacherCourse:teacherCourse.html.twig" %}
        {% endfor %}
    </div>
  </table>
</div>
