{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Empresa con convenio firmado : índice{% endblock %}
{% block body %}
<h2><i class="fa fa-industry" aria-hidden="true"></i> Empresas con convenio firmado ({{ total }}) </h2>
<div><a href="{{ path('cuatrovientos_artean_company') }}">{% trans %}Recargar{% endtrans %}</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchformModal" data-whatever="searchCompany">
    <i class="fa fa-search" aria-hidden="true"></i> Buscar
  </button>

    <a href="{{ path('cuatrovientos_artean_company_new') }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Nueva empresa</a> </div>
<div id="searchformModal" style="display:none" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

  {% include "CuatrovientosArteanBundle:Company:search.html.twig" %}
  </div>
    <h3>Mostrar por ciclo</h3>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="" id="TODOS" class="btn btn-secondary active">TODOS</a>
        <a id ="ACOM" class="btn btn-secondary degree">ACOM</a>
        <a id="GA" class="btn btn-secondary degree">GA</a>
        <a id="SMR" class="btn btn-secondary degree">SMR</a>
        <a id="AF" class="btn btn-secondary degree">AF</a>
        <a id="GVEC" class="btn btn-secondary degree">GVEC</a>
        <a id="CI" class="btn btn-secondary degree">CI</a>
        <a id="TL" class="btn btn-secondary degree">TL</a>
        <a id="ASIR" class="btn btn-secondary degree">ASIR</a>
        <a id="DAM" class="btn btn-secondary degree">DAM</a>
        <a id="FPB" class="btn btn-secondary degree">FPB</a>
    </div>
  <div class="table-responsive">
  <table class="table .table-condensed">
     <div id='companys'>
       <tr>
           <th>Id</th>
           <th>Empresa</th>
           <th>Actividad</th>
           <th>Contacto</th>
           <th>Ciclos</th>
           <th></th>
         </tr>
        {% for company in companies %}
            {% include "CuatrovientosArteanBundle:Company:companyAgreement.html.twig" %}
        {% endfor %}
    </div>
  </table>
   </div>

{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
<!-- Optionally enable responsive features in IE8 -->
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript">
    var degree = 'TODOS';

    $('.degree').click(function (e) {
        e.preventDefault();
        $('#'+degree).removeClass('active');
        degree = $(this).html();
        $('#'+degree).addClass('active');
        $( "td.degrees" ).each(function( index ) {
            //console.log(index + ": " + $(this).text() + " and: " + $( this ).text().indexOf(degree));
            if ($( this ).text().indexOf(degree) != -1) {
                $(this).parent().fadeIn();
            } else {
                $(this).parent().fadeOut();
            }
        });
    });
    $('#TODOS').click(function (e) {
        e.preventDefault();
        $('#'+degree).removeClass('active');
        $(this).addClass('active');
        $( "td.degrees" ).each(function( index ) {
            $(this).parent().slideToggle();
        });
    });
    </script>
{% endblock %}