
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Empresa : nueva{% endblock %}
{% block body %}


<form method="post" action="{{ path('cuatrovientos_artean_company_new_save') }}">
   {{ form_widget(form) }}
</form>

{% endblock %}