
{# src/Samples/BlogBundle/Resources/views/newPost.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Empresa : modificar{% endblock %}
{% block body %}

<h3>Modificar empresa: {{ id }}</h3>
<form method="post" action="{{ path('cuatrovientos_artean_company_update_save') }}">

     {{ form_widget(form) }}
    
</form>

{% endblock %}