
{# src/Samples/BlogBundle/Resources/views/newPost.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Empresa : modificar{% endblock %}
{% block body %}

     <h2><i class="fa fa-industry" aria-hidden="true"></i> Empresas</h2>

     <a href="{{ path('cuatrovientos_artean_company') }}" class="btn">
          <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todas
     </a>

     <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Actualizar empresa {{ id }}</h3>
<form method="post" action="{{ path('cuatrovientos_artean_company_update_save') }}" class="arteanform">

     {{ form_widget(form) }}
    
</form>

{% endblock %}