/* 
    Created on : 17-may-2016, 11:08:49
    Author     : Pello Altadill
*/

.checkboxblock label,input {
    margin-right: 2em;
    margin-left: 0.2em;
}

input[type=checkbox]{
    margin-right: 0.2em;
    margin-left: 2em;
}


#lopd-modal {
    background-color: white;
    text-align: left;
}

.cerrar {
    position: fixed;
    top: 0;
}

.modal-dialog {
    background-color: white;
}

.tab-pane {
    padding: 1em;
}

.passwordChange input, .passwordChange label {
   // display: block;
}

.search-results {
    display: none;
}
