/* 
    Created on : 17-may-2016, 11:08:49
    Author     : Pello Altadill
*/

.checkboxblock label,input {
    margin-right: 2em;
    margin-left: 0.2em;
}

input[type=checkbox]{
    margin-right: 0.2em;
    margin-left: 2em;
}


#lopd-modal {
    background-color: white;
    text-align: left;
}

.cerrar {
    position: fixed;
    top: 0;
}

.modal-dialog {
    background-color: white;
}

.tab-pane {
    padding: 1em;
}

.passwordChange input, .passwordChange label {
   // display: block;
}

.search-results {
    display: none;
}

.status-init, .page-draft {
    background-color: lightyellow  !important;
}
.status-sent,  .page-notpublished {
    background-color: lightpink  !important;
}

.status-assessment, .page-private {
    background-color: lightBlue  !important;
}

.status-closed, .page-published {
    background-color: lightgreen  !important;
}


.page-list {
    margin-bottom: 2em;
}

.pagelist ul {
    list-style-type: none;
    padding: 0;
}
.pagelist ul li {
    padding: 0.5em;
}

.offer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.offer-data {
    font-size: 0.9em;
    color: dimgray;
}

.jumbotron  {
    background: url(https://artean.cuatrovientos.org/img/carousel0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sectiontitle{
    text-decoration: none
}

.photo {
    width: 200px;
}
.delete {
    font-size: 0.8em;
    color: gray;
}

.status-none {
    color: gray;
}
.status-warning {
    color: orange;
}

.status-success {
    color: green;
}

.status-error {
    color: red;
}

.artean-graph {

}

.artean-graph canvas {

}