<div class="table-responsive">
<h2>Estudios</h2>
    {% if applicant.studies is not null %}
  <table class="table .table-condensed">
         <tr><th>Id</th><th>Nombre</th><th>Descripci칩n</th><th>Centro</th><th>A침o fin</th><th></th></tr>

        {% for study in applicant.studies %}
            {% include "CuatrovientosArteanBundle:Applicant/Studies:study.html.twig" %}
        {% endfor %}
    </table>
    {% else %}
        Sin estudios a침adidos
    {% endif %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applicantStudiesModal" data-whatever="searchCompany">
          <i class="fa fa-search" aria-hidden="true"></i> A침adir estudios
      </button>

    <div class="modal fade" id="applicantStudiesModal" tabindex="-1" role="dialog" aria-labelledby="applicantStudiesModal" aria-hidden="true">
        {% include "CuatrovientosArteanBundle:Applicant/Studies:applicantStudiesForm.html.twig" %}
    </div>

</div>
