{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Cursos : Eliminar curso{% endblock %}
{% block body %}
	<h2><i class="fa fa-graduation-cap"></i> Cursos</h2>

	<a href="{{ path('cuatrovientos_artean_course') }}" class="btn">
		<i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
	</a>

	<h3><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar curso {{ course.id }}</h3>
 <div id='course'>
		<div>
			{% trans %}Estás segura{% endtrans %}
			<div class='title'>{{ course.name }}</div>
			<div><a href="{{ path('cuatrovientos_artean_course_delete_save',  {'id': course.id }) }}">Confirmar</a> </div>
			<div><a href="javascript:history.back()">Cancel</a> </div>
		</div>
</div>
{% endblock %}