 <h3><i class="fa fa-industry" aria-hidden="true"></i> Estudiantes de cursos </h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newStudentCourseModal" data-whatever="searchCenter">
                <i class="fa fa-search" aria-hidden="true"></i> Nuevo
            </button>
        <div id="newStudentCourseModal" style="display:none";  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            {% include "CuatrovientosArteanBundle:Course/StudentCourse:new.html.twig" %}
        </div>
<div class="table-responsive">
  <table class="table .table-condensed">
     <div id='studentcourses'>
         <tr><th>Id</th><th>Alumno</th><th>Email</th><th>Teléfono</th><th></th></tr>
        {% for studentCourse in course.students %}
            {% include "CuatrovientosArteanBundle:Course/StudentCourse:studentCourse.html.twig" %}
        {% endfor %}
    </div>
  </table>
</div>
