 <h3><i class="fa fa-users"></i>  Estudiantes de cursos </h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newStudentCourseModal" data-whatever="searchCenter">
                <i class="fa fa-search" aria-hidden="true"></i> Nuevo
            </button>
        <div class="modal fade" id="newStudentCourseModal" tabindex="-1" role="dialog" aria-labelledby="newStudentCourseModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h4 class="modal-title">Add student</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <i class="fa fa-search" aria-hidden="true"></i> Cerrar
                    </button>
                </div>
                <div class="modal-body">
                {#% include "CuatrovientosArteanBundle:Course/StudentCourse:new.html.twig" %#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <i class="fa fa-search" aria-hidden="true"></i> Cerrar
                    </button>
                </div>
            </div>
        </div>
 <div class="modal fade" id="updateStudentCourseModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentCourseModal" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-header">
             <h4 class="modal-title">Actualizar alumno de curso</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="close">
                 <i class="fa fa-search" aria-hidden="true"></i> Cerrar
             </button>
         </div>
         <div class="modal-body">
         </div>
         <div class="modal-footer">
             <button type="button" class="close" data-dismiss="modal" aria-label="close">
                 <i class="fa fa-search" aria-hidden="true"></i> Cerrar
             </button>
         </div>
     </div>
 </div>
<div class="table-responsive">
  <table class="table .table-condensed">
     <div id='studentcourses'>
         <tr><th>Id</th><th>Alumno</th><th>Email</th><th>Teléfono</th><th></th></tr>
        {% for studentCourse in course.students %}
            {% include "CuatrovientosArteanBundle:Course/StudentCourse:studentCourse.html.twig" %}
        {% endfor %}
    </div>
  </table>
</div>
