{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Parte semanal ::{{ workOrder.id }}{% endblock %}
{% block body %}
{% trans %}Eliminar parte de trabajo{% endtrans %}
 <div id='posts'>
		<div>

			{% trans %}Estás seguro{% endtrans %}
			<div class='title'>{{ workOrder.orderDate|date('d-m-Y') }} : {{ workOrder.description }} </div>
			<div><a href="{{ path('cuatrovientos_artean_workorder_delete_save',  {'id': workOrder.id }) }}" class="btn btn-danger">Confirmar borrado</a>
			 <a href="javascript:history.back()"  class="btn btn-warning">Cancelar</a> </div>
		</div>
</div>
{% endblock %}