{% extends "CuatrovientosArteanBundle:Default:workOrderLayout.html.twig" %}
{% block title %}Partes semanales::Index{% endblock %}
{% block body %}
    <h2>Partes de trabajo</h2>
    <div>
        <a href="{{ path('cuatrovientos_artean_workorder_new') }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a>
        <a href="{{ path('cuatrovientos_artean_workorder_print') }}" class="btn btn-info"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>
    </div>
<div class="table-responsive">
  <table class="table .table-condensed">
      <tr><th>Id</th><th>Fecha</th><th>Descripción</th><th>Horas</th><th></th></tr>
        {% for workOrder in workOrders %}
            {% include "CuatrovientosArteanBundle:WorkOrder:workOrders.html.twig" %}
        {% endfor %}
  </table>
</div>
{% endblock %}