
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Partes semanales::Salvando{% endblock %}
{% block body %}
Salvando parte de trabajo para
 {{ workOrder.idapplicant }}
 <div>Gracias por enviar el parte.</div>
{% endblock %}