
{# src/Cuatrovientos/ArteanBundle/Resources/views/News/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Partes de trabajo: imprimir{% endblock %}
{% block body %}

    <h2>Partes de trabajo</h2>

    <a href="{{ path('cuatrovientos_artean_workorder') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-print" aria-hidden="true"></i> Imprimir partes</h3>
<form method="post" action="{{ path('cuatrovientos_artean_workorder_print_save') }}">
    <div class="form-group">
        <label class="required" for="init">Imprimir desde la semana</label>
        <input type="week" name="init" required id="init" class="form-control" />
    </div>
    <div class="form-group">
        <label class="required" for="end">...hasta la semana (incl.)</label>
        <input type="week" name="end" required id="end" class="form-control"  />
    </div>
    <div class="form-group">
        <input type="submit" name="Seleccionar partes" required id="myWeek" class="form-control"  />
    </div>
</form>

{% endblock %}