
{# src/Samples/BlogBundle/Resources/views/WorkOrder/update.html.twig #}
{% extends "SamplesBlogBundle:Default:layout.html.twig" %}
{% block title %}Partes de trabajo, actualización{% endblock %}
{% block body %}

<h3>Actualizar parte: {{ id }}</h3>
<form method="post" action="{{ path('cuatrovientos_artean_workorder_update_save') }}">
    {{ form_widget(form) }}
</form>

{% endblock %}