{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Partes semanales::Index{% endblock %}
{% block body %}
{% trans %}Partes introducidos por el alumnado{% endtrans %}
<a href="javascript:history.back()">Volver</a>
<div class='offer'>
Nuevo parte de trabajo
 <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nuevo parte de trabajo</th>
    </tr>    
    </thead>
     <tbody>
    <tr>
      <th scope="row">id</th>
      <td>{{ workOrder.id }}</td>
    </tr>
    <tr>
      <th scope="row">Fecha</th>
      <td>{{ workOrder.orderDate|date('d-m-Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Descripción</th>
      <td>{{ offer.description }}</td>
    </tr>

     </tbody>
 </table>

</div>
{% endblock %}