{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
    {% block title %}Artean :: Panel de administración{% endblock %}
    {% block body %}
        <h2><i class="fa fa-industry" aria-hidden="true"></i> Estudios </h2>
        iv class="table-responsive">
  <table class="table .table-condensed">
     <div id='studiess'>
         <tr><th>Id</th><th>Nombre</th><th>Descripción</th><th></th></tr>
    </div>
  </table>
</div>

{% endblock %}