{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
    {% block title %}Artean :: Panel de administración{% endblock %}
    {% block body %}
        <h2><i class="fa fa-industry" aria-hidden="true"></i> Panel de administración </h2>


</div>

{% endblock %}