<a class="navbar-brand" href="{{ path('cuatrovientos_artean_homepage') }}"><i class="fa fa-compass"></i> Artean</a>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#" id="load_candidates">
                <i class="fa fa-user"></i> Alta candidatos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="load_companies">
                <i class="fa fa-building-o"></i> Empresas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('cuatrovientos_artean_login') }}">
                <i class="fa fa-industry" aria-hidden="true"></i> FCTs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('cuatrovientos_artean_login') }}">
                <i class="fa fa-lock" aria-hidden="true"></i> Entrar
            </a>
        </li>
    </ul>
</div>