<!DOCTYPE html>
<html>

<head>

<title>{% block title %}artean{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
{% block stylesheets %}
  <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}


{% block head %}{% endblock %}

</head>

<body>

{% block body %}{% endblock body %}

{% block javascripts %}
<!-- JavaScript plugins (requires jQuery) -->
<script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->        
       <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

    {# % javascripts '@CuatrovientosArteanBundle/Resources/public/js/respond.js' % }
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {  %endjavascripts % #}
{% endblock %}

</body>
</html>