<!DOCTYPE html>
<html>

<head>

<title>{% block title %}artean{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
{% stylesheets
    'bundles/cuatrovientosartean/css/artean.css'
    'bundles/cuatrovientosartean/css/bootstrap.min.css'
    'bundles/cuatrovientosartean/css/bootstrap-theme.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}


{% block head %}{% endblock %}

</head>

<body>
<div class="container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="https://artean.cuatrovientos.org/?home">Artean</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                    <li> <a href="https://artean.cuatrovientos.org/?home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a></li>
                  <li><a href="https://artean.cuatrovientos.org/?ap_manage_candidatos">Candidatos</a></li>
                  <li><a href="https://artean.cuatrovientos.org/?ap_manage_tbempresas">Empresas</a></li>
                </ul>
              </nav>
            </div>

          </div>
    
{% block body %}{% endblock body %}

</div>
{% block javascripts %}
<!-- JavaScript plugins (requires jQuery) -->
<script src="//code.jquery.com/jquery.js"></script>
<script src="https://use.fontawesome.com/09c458bfbf.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->        
     {% javascripts '@CuatrovientosArteanBundle/Resources/public/js/bootstrap.min.js' %}
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {% endjavascripts %}

    
    {# % javascripts '@CuatrovientosArteanBundle/Resources/public/js/respond.js' % }
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {  %endjavascripts % #}
{% endblock %}

</body>
</html>