<!DOCTYPE html>
<html>
<head>
<title>{% block title %}artean{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
{% stylesheets
    'bundles/cuatrovientosartean/css/artean.css'
    'bundles/cuatrovientosartean/css/bootstrap.min.css'
    'bundles/cuatrovientosartean/css/bootstrap-theme.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}


{% block head %}{% endblock %}

</head>

<body>
<div class="container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="https://artean.cuatrovientos.org/?home">Artean</a></h3>
              <!--nav>
                <ul class="nav masthead-nav">
                    <li> <a href="https://artean.cuatrovientos.org/?home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a></li>
                  <li><a href="https://artean.cuatrovientos.org/?ap_manage_candidatos">Candidatos</a></li>
                  <li><a href="https://artean.cuatrovientos.org/?ap_manage_tbempresas">Empresas</a></li>
                </ul>
              </nav-->
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#"><i class="fa fa-compass fa-lg"></i> Artean</a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--a class="navbar-brand" href="#">Project name</a-->
                        </div>
                        <div id="navbar"><!--class="navbar-collapse collapse"-->
                            <ul class="nav navbar-nav">
                                <li><a href='?ap_manage_tbempresas' title='<?=_("Gestión empresas")?>'><i class="fa fa-building-o"></i> <?=_("Empresas")?></a></li>
                                <li><a href='?ap_manage_candidatos' title='<?=_("Gestión candidatos")?>'><i class="fa fa-user"></i> <?=_("Candidatos")?></a></li>
                                <li><a href='?ap_manage_tbsolicitudes' title='<?=_("Gestión solicitudes")?>'><i class="fa fa-bullhorn"></i> <?=_("Solicitudes")?></a></li>
                                <li><a href='?ap_manage_mailing' title='<?=_("Mailing")?>'><i class="fa fa-mail-forward"></i> <?=_("Mailing")?></a></li>
                                <li><a href='?ap_manage_cursos' title='<?=_("Courses")?>'><i class="fa fa-graduation-cap"></i> <?=_("Courses")?></a></li>
                                <li><a href='?logout'><i class="fa fa-sign-out"></i><?=_("Logout")?></a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-left">
                              <li><a href="../navbar/">Default</a></li>
                              <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                            </ul>
                            <!--ul class="nav navbar-nav navbar-right">
                              <li><a href="../navbar/">Default</a></li>
                              <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                            </ul-->
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>

          </div>
    
{% block body %}{% endblock body %}

</div>
{% block javascripts %}
<!-- JavaScript plugins (requires jQuery) -->
<!--script src="//code.jquery.com/jquery.js"></script-->
<script src="https://use.fontawesome.com/09c458bfbf.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->

     {% javascripts
     '@CuatrovientosArteanBundle/Resources/public/js/jquery.min.js'
     '@CuatrovientosArteanBundle/Resources/public/js/bootstrap.min.js'
     %}
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {% endjavascripts %}

    
    {# % javascripts '@CuatrovientosArteanBundle/Resources/public/js/respond.js' % }
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {  %endjavascripts % #}
{% endblock %}

</body>
</html>