<!DOCTYPE html>
<html>

<head>

<title>{% block title %}artean{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
{% stylesheets
    '@CuatrovientosArteanBundle/Resources/public/css/bootstrap.min.css'
    '@CuatrovientosArteanBundle/Resources/public/css/bootstrap-theme.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}


{% block head %}{% endblock %}

</head>

<body>
<div class="container">
{% block body %}{% endblock body %}

</div>
{% block javascripts %}
<!-- JavaScript plugins (requires jQuery) -->
<script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->        

    {# % javascripts '@CuatrovientosArteanBundle/Resources/public/js/respond.js' % }
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {  %endjavascripts % #}
{% endblock %}

</body>
</html>