<div class="p-2">¡Comparte!</div>
<div class="btn-group mr-2 mt-2" role="group" aria-label="First group">
    <a href="https://twitter.com/intent/tweet?text=Oferta de empleo en Artean, portal de empleo de Cuatrovientos https://artean.cuatrovientos.org{{ path('cuatrovientos_artean_homepage_offer', {'id': offer.id }) }}" class="btn btn-secondary">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://artean.cuatrovientos.org{{ path('cuatrovientos_artean_homepage_offer', {'id': offer.id }) }}" class="btn btn-secondary">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="whatsapp://send?text=Oferta de empleo en Artean, portal de empleo de Cuatrovientos https://artean.cuatrovientos.org{{ path('cuatrovientos_artean_homepage_offer', {'id': offer.id }) }}" class="btn btn-secondary">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/cws/share?url=https://artean.cuatrovientos.org{{ path('cuatrovientos_artean_homepage_offer', {'id': offer.id }) }}" class="btn btn-secondary">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>

</div>

