{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
    {% block title %}Artean :: Tipos de contrato : índice{% endblock %}
    {% block body %}
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Tipos de contrato({{ total }}) </h2>
        <div><a href="{{ path('cuatrovientos_artean_contracttype') }}">{% trans %}Recargar{% endtrans %}</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchformModal" data-whatever="searchCenter">
                <i class="fa fa-search" aria-hidden="true"></i> Buscar
            </button>

            <a href="{{ path('cuatrovientos_artean_contracttype_new') }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo tipos de contrato</a> </div>
        <div id="searchformModal" style="display:none";  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

            {% include "CuatrovientosArteanBundle:ContractType:search.html.twig" %}
        </div>
<div class="table-responsive">
  <table class="table .table-condensed">
     <div id='contracttypes'>
         <tr><th>Id</th><th>Nombre</th><th></th></tr>
        {% for contractType in contractTypes %}
            {% include "CuatrovientosArteanBundle:ContractType:contractType.html.twig" %}
        {% endfor %}
    </div>
  </table>
</div>

{% endblock %}