services:
##    cuatrovientos_artean.passwordLength:    8
#    cuatrovientos_artean.example:
#        class: Cuatrovientos\ArteanBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]

##    cuatrovientos_artean.passwordGenerator:
##        class: Cuatrovientos\ArteanBundle\PasswordGenerator
##        arguments:  ['%cuatrovientos_artean.passwordLength%']
    cuatrovientos_artean.utils.permalink:
        class: Cuatrovientos\ArteanBundle\Service\Utils\Permalink
    inventory.security.sha1_password_encoder:
        class: Cuatrovientos\ArteanBundle\Security\Encoder\Sha1PasswordEncoder

    cuatrovientos_artean.dao.company:
         class: Cuatrovientos\ArteanBundle\Service\DAO\CompanyDAO
         arguments: ['CuatrovientosArteanBundle:Company', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.company:
         class: Cuatrovientos\ArteanBundle\Service\Business\CompanyBusiness
         arguments: ['@cuatrovientos_artean.dao.company']

    cuatrovientos_artean.dao.workorder:
         class: Cuatrovientos\ArteanBundle\Service\DAO\WorkOrderDAO
         arguments: ['CuatrovientosArteanBundle:WorkOrder', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.workorder:
         class: Cuatrovientos\ArteanBundle\Service\Business\WorkOrderBusiness
         arguments: ['@cuatrovientos_artean.dao.workorder']

    cuatrovientos_artean.dao.center:
         class: Cuatrovientos\ArteanBundle\Service\DAO\CenterDAO
         arguments: ['CuatrovientosArteanBundle:Center', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.center:
         class: Cuatrovientos\ArteanBundle\Service\Business\CenterBusiness
         arguments: ['@cuatrovientos_artean.dao.center']

    cuatrovientos_artean.dao.studies:
         class: Cuatrovientos\ArteanBundle\Service\DAO\StudiesDAO
         arguments: ['CuatrovientosArteanBundle:Studies', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.studies:
         class: Cuatrovientos\ArteanBundle\Service\Business\StudiesBusiness
         arguments: ['@cuatrovientos_artean.dao.studies']

    cuatrovientos_artean.dao.contracttype:
         class: Cuatrovientos\ArteanBundle\Service\DAO\ContractTypeDAO
         arguments: ['CuatrovientosArteanBundle:ContractType', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.contracttype:
         class: Cuatrovientos\ArteanBundle\Service\Business\ContractTypeBusiness
         arguments: ['@cuatrovientos_artean.dao.contracttype']

    cuatrovientos_artean.dao.applicantStudies:
         class: Cuatrovientos\ArteanBundle\Service\DAO\ApplicantStudiesDAO
         arguments: ['CuatrovientosArteanBundle:ApplicantStudies', '@doctrine.orm.entity_manager']

    cuatrovientos_artean.dao.applicantLanguages:
         class: Cuatrovientos\ArteanBundle\Service\DAO\ApplicantLanguagesDAO
         arguments: ['CuatrovientosArteanBundle:ApplicantLanguages', '@doctrine.orm.entity_manager']

    cuatrovientos_artean.dao.applicantJobs:
         class: Cuatrovientos\ArteanBundle\Service\DAO\ApplicantJobsDAO
         arguments: ['CuatrovientosArteanBundle:ApplicantJobs', '@doctrine.orm.entity_manager']

    cuatrovientos_artean.dao.applicant:
         class: Cuatrovientos\ArteanBundle\Service\DAO\ApplicantDAO
         arguments: ['CuatrovientosArteanBundle:Applicant', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.applicant:
         class: Cuatrovientos\ArteanBundle\Service\Business\ApplicantBusiness
         arguments: ['@cuatrovientos_artean.dao.applicant','@cuatrovientos_artean.dao.applicantStudies','@cuatrovientos_artean.dao.applicantLanguages','@cuatrovientos_artean.dao.applicantJobs','@cuatrovientos_artean.dao.center','@cuatrovientos_artean.dao.studies','@cuatrovientos_artean.dao.company']

    cuatrovientos_artean.dao.jobrequest:
         class: Cuatrovientos\ArteanBundle\Service\DAO\JobRequestDAO
         arguments: ['CuatrovientosArteanBundle:JobRequest', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.jobrequest:
         class: Cuatrovientos\ArteanBundle\Service\Business\JobRequestBusiness
         arguments: ['@cuatrovientos_artean.dao.jobrequest','@cuatrovientos_artean.dao.company']

    cuatrovientos_artean.dao.fct:
         class: Cuatrovientos\ArteanBundle\Service\DAO\FctDAO
         arguments: ['CuatrovientosArteanBundle:Fct', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.fct:
         class: Cuatrovientos\ArteanBundle\Service\Business\FctBusiness
         arguments: ['@cuatrovientos_artean.dao.fct','@cuatrovientos_artean.dao.company','@cuatrovientos_artean.dao.applicant']

    cuatrovientos_artean.dao.course:
         class: Cuatrovientos\ArteanBundle\Service\DAO\CourseDAO
         arguments: ['CuatrovientosArteanBundle:Course', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.course:
         class: Cuatrovientos\ArteanBundle\Service\Business\CourseBusiness
         arguments: ['@cuatrovientos_artean.dao.course','@cuatrovientos_artean.dao.applicant']
         
    cuatrovientos_artean.dao.mailing:
         class: Cuatrovientos\ArteanBundle\Service\DAO\MailingDAO
         arguments: ['CuatrovientosArteanBundle:Mailing', '@doctrine.orm.entity_manager' ]

    cuatrovientos_artean.bo.mailing:
         class: Cuatrovientos\ArteanBundle\Service\Business\MailingBusiness
         arguments: ['@cuatrovientos_artean.dao.mailing','@cuatrovientos_artean.dao.company','@cuatrovientos_artean.dao.applicant']