{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Email enviado{% endblock %}
{% block body %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('cuatrovientos_artean_homepage') }}"><i class="fa fa-compass"></i> Artean</a>

    </nav>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <h1 class="cover-heading">Email enviado</h1>
                        <h3><i class="fa fa-envelope" aria-hidden="true"></i> Revisa tu buzón de correo</h3>
                        <p>Te hemos enviado un email con un enlace para que cambies tu contraseña</p>
                    <p>Si sigues teniendo problemas, ponte en contacto con nosotros en artean@cuatrovientos.org</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
