{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Contraseña reseteada con éxito{% endblock %}
{% block body %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <h1 class="cover-heading">Contraseña reseteada con éxitoo</h1>
                        <h3><i class="fa fa-key" aria-hidden="true"></i> <a href="{{ path('cuatrovientos_artean_login') }}">Entra en el sistema</a> con tu nueva contraseña</h3>
                        <p>Si sigues teniendo problemas, ponte en contacto con nosotros en artean@cuatrovientos.org</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
