{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Noticias ::Index{% endblock %}
{% block body %}
<h2><i class="fa fa-newspaper-o" aria-hidden="true"></i> {% trans %}Noticias{% endtrans %} <span class="glyphicon glyphicon-heart"></span></h2>
    <div><a href="{{ path('cuatrovientos_artean_news') }}">{% trans %}Recargar{% endtrans %}</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchformModal" data-whatever="searchMailing">
            <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>
        <a href="{{ path('cuatrovientos_artean_news_new') }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Nueva noticia</a> </div>
<div class="table-responsive">
  <table class="table .table-condensed">
      <tr><th>Id</th><th>Título</th><th>Publicada por</th><th></th>
 </tr>

      {% for news in news %}
            {% include "CuatrovientosArteanBundle:News:news.html.twig" %}
        {% endfor %}
  </table>
</div>

{% endblock %}