{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Datos aspirante{% endblock %}
{% block extrastyles %}
    <style>
        {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.select.css" %}
    </style>
{% endblock %}
{% block body %}
<h2><i class="fa fa-pie-chart m-2" aria-hidden="true"></i>  Indicadores</h2>
    <section>
        <h3><i class="fa fa-bar-chart m-1 ml-2" aria-hidden="true"></i>Evolución de solicitudes por año</h3>
        <div class="artean-graph">
            <canvas  id="jobRequestEvolutionChart" width='326' height='240' style='width:326px;height:240px'></canvas>
            </div>
        </section>
    <section>
        <h3><i class="fa fa-bar-chart m-1 ml-2" aria-hidden="true"></i>Solicitudes por mes</h3>
        <div class="artean-graph">
            <canvas  id="jobRequestMonthlyEvolutionChart" width='326' height='240' style='width:326px;height:240px'></canvas>
        </div>
    </section>

{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js">
        </script>
    <script language="javascript">
        var backColors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ];
        var borderColors = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ]
        var ctx = document.getElementById("jobRequestEvolutionChart").getContext('2d');
        var jobRequestEvolutionChartData = {{ jobRequestStats|raw  }};
        var labels1 = [];
        var values1 = [];
        jobRequestEvolutionChartData.forEach(function(element) {
            labels1.push(element.offeryear);
            values1.push(element.counter);
        });
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels1,
                datasets: [{
                    label: '# solicitudes',
                    data: values1,
                    backgroundColor: backColors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var jobRequestMonthlyEvolutionChartData = {{ jobRequestMonthlyStats|raw  }};
        var labelsJobRequestMonthly = [];
        var valuesJobRequestMonthly = [];
        jobRequestMonthlyEvolutionChartData.forEach(function(element) {
            labelsJobRequestMonthly.push(element.offermonth);
            valuesJobRequestMonthly.push(element.counter);
        });
        var ctx2 = document.getElementById("jobRequestMonthlyEvolutionChart").getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labelsJobRequestMonthly,
                datasets: [{
                    label: '# solicitudes',
                    data: valuesJobRequestMonthly,
                    backgroundColor: backColors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });


    </script>

{% endblock %}

