
{# src/Samples/BlogBundle/Resources/views/simple.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Estudios : guardar{% endblock %}
{% block body %}
 <h2><i class="fa fa-industry" aria-hidden="true"></i> Estudios</h2>

 <a href="{{ path('cuatrovientos_artean_studies') }}" class="btn">
  <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
 </a>
 <h3>¡Estudios guardados correctamente!</h3>
 <strong>{{ studies.name }}</strong>
 <div><a href="{{ path('cuatrovientos_artean_studies') }}">{% trans %}See all{% endtrans %}</a> </div>
{% endblock %}