{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Offers ::{{ offer.id }}{% endblock %}
{% block body %}
{% trans %}Eliminar oferta publicada{% endtrans %}
 <div id='posts'>
		<div>

			{% trans %}Estás seguro{% endtrans %}
			<div class='title'>{{ offer.position }}</div>
			<div><a href="{{ path('cuatrovientos_artean_offerad_delete_save',  {'id': offer.id }) }}" class="btn btn-danger">Confirmar borrado</a>
			 <a href="javascript:history.back()"  class="btn btn-warning">Cancelar</a> </div>
		</div>
</div>
{% endblock %}